.idea/
.vscode/
/target/
cachegrind.out*
callgrind.out*
massif.out*
flamegraph*.svg
*.swp
benches/ck3.toml

# Random testing stuff not useful to anyone else in its current form
cerr1
cerr2
error-collection.txt
gameconcepts.txt
munch_bank.py
munch_effects.py
new-logs/
old-logs/
pitch
test.sh
test.txt
testmod.sh


# Python tools
__pycache__/
.venv/

# xTiger desktop app
xtiger-app/src-tauri/target/
xtiger-app/src-tauri/binaries/
xtiger-app/src-tauri/gen/
xtiger-app/setup/target/
xtiger-app/setup/gen/
